<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Prescribe</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="956e91">  <td>20/11/04 16:15:31</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;EditSlotsTest.beforeTest(java.lang.String)[pri:0, instance:com.heyprescribe.testcase.EditSlotsTest@6dde5c8c]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1745168667</td>   <td></td> </tr>
<tr bgcolor="956e91">  <td>20/11/04 16:15:42</td>   <td>10768</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditSlotsTest.verifytheAdminLoginFunctionality()[pri:1, instance:com.heyprescribe.testcase.EditSlotsTest@6dde5c8c]">verifytheAdminLoginFunctionality</td> 
  <td>TestNG@1745168667</td>   <td></td> </tr>
<tr bgcolor="956e91">  <td>20/11/04 16:15:57</td>   <td>26049</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditSlotsTest.verifyTheAdminPageAfterDeletingSession()[pri:2, instance:com.heyprescribe.testcase.EditSlotsTest@6dde5c8c]">verifyTheAdminPageAfterDeletingSession</td> 
  <td>TestNG@1745168667</td>   <td></td> </tr>
<tr bgcolor="956e91">  <td>20/11/04 16:16:05</td>   <td>33766</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditSlotsTest.verifyAppointmentDateWhenDoctorIsOnLeaveOnDayOne()[pri:3, instance:com.heyprescribe.testcase.EditSlotsTest@6dde5c8c]">verifyAppointmentDateWhenDoctorIsOnLeaveOnDayOne</td> 
  <td>TestNG@1745168667</td>   <td></td> </tr>
<tr bgcolor="956e91">  <td>20/11/04 16:16:18</td>   <td>46883</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditSlotsTest.verifyTheAdminPageAfterUpdatingSession()[pri:4, instance:com.heyprescribe.testcase.EditSlotsTest@6dde5c8c]">verifyTheAdminPageAfterUpdatingSession</td> 
  <td>TestNG@1745168667</td>   <td></td> </tr>
<tr bgcolor="956e91">  <td>20/11/04 16:16:32</td>   <td>60524</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditSlotsTest.verifyAppointmentDateWhenDoctorIsOnLeaveOnMidWeek()[pri:5, instance:com.heyprescribe.testcase.EditSlotsTest@6dde5c8c]">verifyAppointmentDateWhenDoctorIsOnLeaveOnMidWeek</td> 
  <td>TestNG@1745168667</td>   <td></td> </tr>
<tr bgcolor="956e91">  <td>20/11/04 16:16:47</td>   <td>76117</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditSlotsTest.verifyAppointmentDateWhenDoctorIsOnLeaveOnWeekLastDate()[pri:6, instance:com.heyprescribe.testcase.EditSlotsTest@6dde5c8c]">verifyAppointmentDateWhenDoctorIsOnLeaveOnWeekLastDate</td> 
  <td>TestNG@1745168667</td>   <td></td> </tr>
<tr bgcolor="956e91">  <td>20/11/04 16:17:05</td>   <td>93376</td> <td>&nbsp;</td><td title="&lt;&lt;EditSlotsTest.afterTest()[pri:0, instance:com.heyprescribe.testcase.EditSlotsTest@6dde5c8c]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1745168667</td>   <td></td> </tr>
</table>
